<!DOCTYPE html>
<html lang="en">
<link href="/foundation.min.css" rel="stylesheet">
<head>
  <title>Recipes Home Page</title>
</head>
<body>
    <header>
      <div class="row">
          <div class="nav-bar">
            <ul class="button-group">
              <h1> Recipes for everyone</h1>
              <a href="/" class="button">Home</a>
              <a href="/recipes" class="button">All Recipes</a>
            </ul>
          </div>
          <p> Individuals can go and find the perfect recipe for themselves</p>
      </div>
    </header>

  </div>
</body>
</html>
