<!DOCTYPE html>
<html lang="en">
<head>
  <title>Recipes Home Page</title>
</head>
<body>
  <div>
    <header>
      <a href="/recipes">HOME</a></li>
      <h1><%= @recipe_info[0]['name'] %></h1>

      <h3> Ingredients </h3>
      <% @recipe_info.each do |info| %>
      <li><%= "#{info["ing_list"]}" %></li>
      <% end %>
      <h3> Instructions: </h3>
      <td><%=@recipe_info[0]['instructions']%></td>

      <h3> Description: </h3>
      <td><%= @recipe_info[0]['description'] %></td>

    </header>
    <selection>
      <ul>

      </ul>
    </selection>

  </div>
</body>
</html>
