<!DOCTYPE html>
<html lang="en">
<link href="/foundation.min.css" rel="stylesheet">
<head>
  <title>Recipes Home Page</title>
</head>
<body>

    <header>
      <div class="row">
        <div class="nav-bar">
          <ul class="button-group">
            <h1> Elite Recipes</h1>
            <a href="/" class="button">Home</a>
            <a href="/recipes" class="button">All Recipes</a>
          </ul>
          <h1><%= @recipe_info[0]['name'] %></h1>
            <div class="medium-6 columns">
              <div class="panel">
                <h3> Ingredients </h3>
                <% @recipe_info.each do |info| %>
                <li><%= "#{info["ing_list"]}" %></li>
                <% end %>
              </div>
            </div>
            <div class="medium-6 columns">
              <div class="panel">
                <h3> Instructions: </h3>
                <p> <%=@recipe_info[0]['instructions'].gsub("\t","") %></p>
              </div>
            </div>
        <div class="medium-12 columns">
          <div class="panel">
            <h3> Description: </h3>
            <td><%= @recipe_info[0]['description'] %></td>
          </div>
        </div>
        </header>

        </ul>
      </div>
    </div>

  </div>
</body>
</html>
